<!DOCTYPE html>
<html lang="en">
<head>
	<title>Language Game</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Language Game</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{language}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/Chinese">Chinese</a></li>
						<li><a href="/French">French</a></li>
						<li><a href="/German">German</a></li>
						<li><a href="/Italian">Italian</a></li>
						<li><a href="/Japanese">Japanese</a></li>
						<li><a href="/Korean">Korean</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	{% if answer %}
        <div class="container-fluid text-center">    
			<div class="row content">
				<div class="col-sm-12 text-left"> 
					<h1 class="word">{{word}}</h1>
				</div>
			</div>
			<div class="row content">
				<div class="col-sm-12 text-left"> 
					<p class="result">Correct Answer: {{original}} - {{answer}}</p>
				</div>
			</div>
			<form class="btn-group" action="/next/" method="post">
				<button type="submit" class="btn btn-primary">NEXT QUESTION</button>
			</form>
		</div>
    {% else %}
        <div class="container-fluid text-center">    
			<div class="row content">
				<div class="col-sm-12 text-left"> 
					<h1 class="word">{{word}}</h1>
				</div>
			</div>
			<form class="btn-group" action="/option1/" method="post">
				<button type="submit" class="btn btn-primary">{{op1}}</button>
			</form>
			<form class="btn-group" action="/option2/" method="post">
				<button type="submit" class="btn btn-primary">{{op2}}</button>
			</form>
			<form class="btn-group" action="/option3/" method="post">
				<button type="submit" class="btn btn-primary">{{op3}}</button>
			</form>
			<form class="btn-group" action="/option4/" method="post">
				<button type="submit" class="btn btn-primary">{{op4}}</button>
			</form>
			<form class="btn-group" action="/option5/" method="post">
				<button type="submit" class="btn btn-primary">{{op5}}</button>
			</form>
		</div>
    {% endif %}

	<footer class="container-fluid text-center">
		<p>&copy; 2019 Ethan | Jason | Dora</p>
		<p>Translation Powered By Yandex Translate</p>
	</footer>
</body>
</html>